In [1]:
import pandas
import numpy
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix

In [3]:
device_dataset = pandas.read_csv("./dataset/device.csv")
strong_password_dataset = pandas.read_csv("./dataset/DSL-StrongPasswordData.csv")
users_dataset = pandas.read_csv("./dataset/users.csv")
mobile_usage_dataset = pandas.read_csv("./dataset/mobile_usage_behavioral_analysis.csv")
logon_dataset = pandas.read_csv("./dataset/logon.csv")
email_dataset = pandas.read_csv("./dataset/emails.csv")
gan_dataset = pandas.read_csv("./biometric_train.csv")


print(device_dataset.shape)
print(strong_password_dataset.shape)
print(users_dataset.shape)
print(mobile_usage_dataset.shape)
print(logon_dataset.shape)
print(email_dataset.shape)
print(gan_dataset.shape)

(1551828, 6)
(20400, 34)
(4000, 12)
(1000, 10)
(3530285, 5)
(517401, 2)
(500000, 33)

In [3]:
print(device_dataset.info())
print(device_dataset.head())
print(device_dataset.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1551828 entries, 0 to 1551827
Data columns (total 6 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   id         1551828 non-null  object
 1   date       1551828 non-null  object
 2   user       1551828 non-null  object
 3   pc         1551828 non-null  object
 4   file_tree  778354 non-null   object
 5   activity   1551828 non-null  object
dtypes: object(6)
memory usage: 71.0+ MB
None
                         id                 date     user       pc  \
0  {Z2Q8-K3AV28BE-9353JIRT}  01/02/2010 07:17:18  SDH2394  PC-5849
1  {C7F1-G7LE60RU-2483DAXS}  01/02/2010 07:22:42  JKS2444  PC-6961
2  {T9A4-D4RV69OF-1704NINW}  01/02/2010 07:31:42  CBA1023  PC-1570
3  {S8L0-O6QQ15NL-0636OYNV}  01/02/2010 07:33:28  GNT0221  PC-6427
4  {U0F1-R1FX27FM-6954TTVU}  01/02/2010 07:33:55  JKS2444  PC-6961

                                           file_tree    activity
0                          R:\;R:\22B5gX4;R:\SDH2394     Connect
1                                     R:\;R:\JKS2444     Connect
2  R:\;R:\42gY283;R:\48rr4y2;R:\59ntt61;R:\76xCQG...     Connect
3                                     R:\;R:\GNT0221     Connect
4                                                NaN  Disconnect
                              id                 date     user       pc  \
count                    1551828              1551828  1551828  1551828
unique                   1551828              1475524      788     3829
top     {Z2Q8-K3AV28BE-9353JIRT}  04/09/2010 13:13:53  CJM0273  PC-3471
freq                           1                   15     8696     8702

                                              file_tree activity
count                                            778354  1551828
unique                                              788        2
top     R:\;R:\13jd423;R:\49FP5C2;R:\51n6647;R:\CJM0273  Connect
freq                                               4355   778354

In [4]:
print(strong_password_dataset.info())
print(strong_password_dataset.head())
print(strong_password_dataset.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20400 entries, 0 to 20399
Data columns (total 34 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   subject          20400 non-null  object
 1   sessionIndex     20400 non-null  int64
 2   rep              20400 non-null  int64
 3   H.period         20400 non-null  float64
 4   DD.period.t      20400 non-null  float64
 5   UD.period.t      20400 non-null  float64
 6   H.t              20400 non-null  float64
 7   DD.t.i           20400 non-null  float64
 8   UD.t.i           20400 non-null  float64
 9   H.i              20400 non-null  float64
 10  DD.i.e           20400 non-null  float64
 11  UD.i.e           20400 non-null  float64
 12  H.e              20400 non-null  float64
 13  DD.e.five        20400 non-null  float64
 14  UD.e.five        20400 non-null  float64
 15  H.five           20400 non-null  float64
 16  DD.five.Shift.r  20400 non-null  float64
 17  UD.five.Shift.r  20400 non-null  float64
 18  H.Shift.r        20400 non-null  float64
 19  DD.Shift.r.o     20400 non-null  float64
 20  UD.Shift.r.o     20400 non-null  float64
 21  H.o              20400 non-null  float64
 22  DD.o.a           20400 non-null  float64
 23  UD.o.a           20400 non-null  float64
 24  H.a              20400 non-null  float64
 25  DD.a.n           20400 non-null  float64
 26  UD.a.n           20400 non-null  float64
 27  H.n              20400 non-null  float64
 28  DD.n.l           20400 non-null  float64
 29  UD.n.l           20400 non-null  float64
 30  H.l              20400 non-null  float64
 31  DD.l.Return      20400 non-null  float64
 32  UD.l.Return      20400 non-null  float64
 33  H.Return         20400 non-null  float64
dtypes: float64(31), int64(2), object(1)
memory usage: 5.3+ MB
None
  subject  sessionIndex  rep  H.period  DD.period.t  UD.period.t     H.t  \
0    s002             1    1    0.1491       0.3979       0.2488  0.1069
1    s002             1    2    0.1111       0.3451       0.2340  0.0694
2    s002             1    3    0.1328       0.2072       0.0744  0.0731
3    s002             1    4    0.1291       0.2515       0.1224  0.1059
4    s002             1    5    0.1249       0.2317       0.1068  0.0895

   DD.t.i  UD.t.i     H.i  ...     H.a  DD.a.n  UD.a.n     H.n  DD.n.l  \
0  0.1674  0.0605  0.1169  ...  0.1349  0.1484  0.0135  0.0932  0.3515
1  0.1283  0.0589  0.0908  ...  0.1412  0.2558  0.1146  0.1146  0.2642
2  0.1291  0.0560  0.0821  ...  0.1621  0.2332  0.0711  0.1172  0.2705
3  0.2495  0.1436  0.1040  ...  0.1457  0.1629  0.0172  0.0866  0.2341
4  0.1676  0.0781  0.0903  ...  0.1312  0.1582  0.0270  0.0884  0.2517

   UD.n.l     H.l  DD.l.Return  UD.l.Return  H.Return
0  0.2583  0.1338       0.3509       0.2171    0.0742
1  0.1496  0.0839       0.2756       0.1917    0.0747
2  0.1533  0.1085       0.2847       0.1762    0.0945
3  0.1475  0.0845       0.3232       0.2387    0.0813
4  0.1633  0.0903       0.2517       0.1614    0.0818

[5 rows x 34 columns]
       sessionIndex           rep      H.period   DD.period.t   UD.period.t  \
count  20400.000000  20400.000000  20400.000000  20400.000000  20400.000000
mean       4.500000     25.500000      0.093379      0.264148      0.170769
std        2.291344     14.431223      0.029626      0.220534      0.226836
min        1.000000      1.000000      0.001400      0.018700     -0.235800
25%        2.750000     13.000000      0.074400      0.146900      0.049800
50%        4.500000     25.500000      0.089500      0.205950      0.108700
75%        6.250000     38.000000      0.107900      0.306450      0.212400
max        8.000000     50.000000      0.376100     12.506100     12.451700

                H.t        DD.t.i        UD.t.i           H.i        DD.i.e  \
count  20400.000000  20400.000000  20400.000000  20400.000000  20400.000000
mean       0.085727      0.169085      0.083358      0.081565      0.159372
std        0.027424      0.123546      0.125755      0.026887      0.226928
min        0.009300      0.001100     -0.162100      0.003200      0.001400
25%        0.066000      0.113600      0.027200      0.062000      0.089300
50%        0.081000      0.140400      0.057800      0.077100      0.120900
75%        0.099800      0.183900      0.096400      0.096900      0.173100
max        0.241100      4.919700      4.799900      0.331200     25.987300

       ...           H.a        DD.a.n        UD.a.n           H.n  \
count  ...  20400.000000  20400.000000  20400.000000  20400.000000
mean   ...      0.106259      0.150670      0.044411      0.089899
std    ...      0.038828      0.107422      0.105197      0.030738
min    ...      0.004000      0.001100     -0.235500      0.003700
25%    ...      0.082100      0.096100     -0.009000      0.067300
50%    ...      0.101900      0.125000      0.022700      0.085300
75%    ...      0.122300      0.174600      0.068900      0.107900
max    ...      2.035300      3.327800      2.524200      0.357700

             DD.n.l        UD.n.l           H.l   DD.l.Return   UD.l.Return  \
count  20400.000000  20400.000000  20400.000000  20400.000000  20400.000000
mean       0.202630      0.112731      0.095589      0.321847      0.226259
std        0.150191      0.159571      0.028348      0.225389      0.230759
min        0.001300     -0.175800      0.003700      0.008300     -0.124500
25%        0.127600      0.023500      0.077400      0.210000      0.114100
50%        0.172500      0.095500      0.093700      0.263000      0.160300
75%        0.228800      0.145700      0.111100      0.350200      0.255100
max        4.025200      3.978200      0.340700      5.883600      5.836400

           H.Return
count  20400.000000
mean       0.088306
std        0.027452
min        0.002900
25%        0.069900
50%        0.085500
75%        0.103700
max        0.265100

[8 rows x 33 columns]

In [5]:
print(users_dataset.info())
print(users_dataset.head())
print(users_dataset.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   employee_name    4000 non-null   object
 1   user_id          4000 non-null   object
 2   email            4000 non-null   object
 3   role             4000 non-null   object
 4   projects         683 non-null    object
 5   business_unit    4000 non-null   int64
 6   functional_unit  3998 non-null   object
 7   department       3978 non-null   object
 8   team             3842 non-null   object
 9   supervisor       3999 non-null   object
 10  start_date       4000 non-null   object
 11  end_date         4000 non-null   object
dtypes: int64(1), object(11)
memory usage: 375.1+ KB
None
              employee_name  user_id                              email  \
0  Nicholas Fletcher Pruitt  NFP2441  Nicholas.Fletcher.Pruitt@dtaa.com
1     Abraham Dante Rodgers  ADR1517     Abraham.Dante.Rodgers@dtaa.com
2     Medge Wilma Blackburn  MWB4000     Medge.Wilma.Blackburn@dtaa.com
3     Meghan Laurel Salazar  MLS2856     Meghan.Laurel.Salazar@dtaa.com
4          Beau Todd Romero  BTR2026          Beau.Todd.Romero@dtaa.com

                   role projects  business_unit  \
0               ITAdmin      NaN              1
1  ProductionLineWorker      NaN              1
2  ProductionLineWorker      NaN              1
3  ProductionLineWorker      NaN              1
4    MechanicalEngineer      NaN              1

                                  functional_unit       department  \
0                               1 - Adminstration     5 - Security
1                    5 - Manufacturing_Commercial     3 - Assembly
2                    6 - Manufacturing_Government     3 - Assembly
3                    6 - Manufacturing_Government     3 - Assembly
4  3 - ResearchAndEngineering_Government_Domestic  4 - Engineering

                      team                supervisor           start_date  \
0   8 - ElectronicSecurity   Madison Charissa Malone  2009-12-01 00:00:00
1         4 - AssemblyDept        Mark William Horne  2009-12-01 00:00:00
2        14 - AssemblyDept    Hillary Zenaida Adkins  2009-12-01 00:00:00
3         8 - AssemblyDept    Demetria Sage Melendez  2009-12-01 00:00:00
4  16 - TestAndEvalualtion  Elijah Valentine Fuentes  2009-12-01 00:00:00

     end_date
0  2011-06-01
1  2011-06-01
2  2011-06-01
3  2011-06-01
4  2011-06-01
       business_unit
count         4000.0
mean             1.0
std              0.0
min              1.0
25%              1.0
50%              1.0
75%              1.0
max              1.0

In [6]:
print(mobile_usage_dataset.info())
print(mobile_usage_dataset.head())
print(mobile_usage_dataset.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   User_ID                       1000 non-null   int64
 1   Age                           1000 non-null   int64
 2   Gender                        1000 non-null   object
 3   Total_App_Usage_Hours         1000 non-null   float64
 4   Daily_Screen_Time_Hours       1000 non-null   float64
 5   Number_of_Apps_Used           1000 non-null   int64
 6   Social_Media_Usage_Hours      1000 non-null   float64
 7   Productivity_App_Usage_Hours  1000 non-null   float64
 8   Gaming_App_Usage_Hours        1000 non-null   float64
 9   Location                      1000 non-null   object
dtypes: float64(5), int64(3), object(2)
memory usage: 78.3+ KB
None
   User_ID  Age  Gender  Total_App_Usage_Hours  Daily_Screen_Time_Hours  \
0        1   56    Male                   2.61                     7.15
1        2   46    Male                   2.13                    13.79
2        3   32  Female                   7.28                     4.50
3        4   25  Female                   1.20                     6.29
4        5   38    Male                   6.31                    12.59

   Number_of_Apps_Used  Social_Media_Usage_Hours  \
0                   24                      4.43
1                   18                      4.67
2                   11                      4.58
3                   21                      3.18
4                   14                      3.15

   Productivity_App_Usage_Hours  Gaming_App_Usage_Hours     Location
0                          0.55                    2.40  Los Angeles
1                          4.42                    2.43      Chicago
2                          1.71                    2.83      Houston
3                          3.42                    4.58      Phoenix
4                          0.13                    4.00     New York
           User_ID          Age  Total_App_Usage_Hours  \
count  1000.000000  1000.000000            1000.000000
mean    500.500000    38.745000               6.405670
std     288.819436    12.186734               3.134855
min       1.000000    18.000000               1.000000
25%     250.750000    28.000000               3.590000
50%     500.500000    40.000000               6.455000
75%     750.250000    50.000000               9.122500
max    1000.000000    59.000000              11.970000

       Daily_Screen_Time_Hours  Number_of_Apps_Used  Social_Media_Usage_Hours  \
count              1000.000000           1000.00000               1000.000000
mean                  7.696310             16.64700                  2.456330
std                   3.714187              7.61961                  1.439525
min                   1.010000              3.00000                  0.000000
25%                   4.530000             10.00000                  1.200000
50%                   7.880000             17.00000                  2.445000
75%                  10.910000             23.00000                  3.672500
max                  14.000000             29.00000                  4.990000

       Productivity_App_Usage_Hours  Gaming_App_Usage_Hours
count                   1000.000000             1000.000000
mean                       2.495270                2.475410
std                        1.443392                1.450362
min                        0.000000                0.010000
25%                        1.282500                1.220000
50%                        2.435000                2.455000
75%                        3.710000                3.782500
max                        5.000000                5.000000

In [7]:
print(logon_dataset.info())
print(logon_dataset.head())
print(logon_dataset.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3530285 entries, 0 to 3530284
Data columns (total 5 columns):
 #   Column    Dtype
---  ------    -----
 0   id        object
 1   date      object
 2   user      object
 3   pc        object
 4   activity  object
dtypes: object(5)
memory usage: 134.7+ MB
None
                         id                 date     user       pc activity
0  {F3X8-Y2GT43DR-4906OHBL}  01/02/2010 02:19:18  DNS1758  PC-0414    Logon
1  {B4Q0-D0GM24KN-3704MAII}  01/02/2010 02:31:12  DNS1758  PC-0414   Logoff
2  {T7J1-D4HK34KV-5476TCIJ}  01/02/2010 02:34:02  DNS1758  PC-5313    Logon
3  {S4Y6-D8MQ05SA-0759HLIS}  01/02/2010 02:53:30  DNS1758  PC-5313   Logoff
4  {F3P0-E7FH78CV-4874FRGZ}  01/02/2010 04:07:31  DNS1758  PC-0012    Logon
                              id                 date     user       pc  \
count                    3530285              3530285  3530285  3530285
unique                   3530285               955571     4000     4400
top     {F3X8-Y2GT43DR-4906OHBL}  01/07/2010 08:00:00  TAM3048  PC-6793
freq                           1                  199     4151     1654

       activity
count   3530285
unique        2
top       Logon
freq    1948933

In [4]:
print(gan_dataset.info())
print(gan_dataset.head())
print(gan_dataset.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 33 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   userId               500000 non-null  int64
 1   email                500000 non-null  object
 2   sessionId            500000 non-null  object
 3   archetype            500000 non-null  object
 4   activityFlow         500000 non-null  object
 5   createdAt            500000 non-null  object
 6   label                500000 non-null  int64
 7   riskLevel            500000 non-null  object
 8   anomalyScore         500000 non-null  float64
 9   deviceFingerprint    500000 non-null  object
 10  ipAddress            500000 non-null  object
 11  userAgent            500000 non-null  object
 12  timeOfDay            500000 non-null  int64
 13  dayOfWeek            500000 non-null  int64
 14  loginDuration        500000 non-null  int64
 15  failedAttempts       500000 non-null  int64
 16  locationConsistency  500000 non-null  int64
 17  sessionDate          500000 non-null  object
 18  wpm                  500000 non-null  int64
 19  typingAccuracy       500000 non-null  float64
 20  avgDwellTime         500000 non-null  float64
 21  stdDwellTime         500000 non-null  float64
 22  avgFlightTime        500000 non-null  float64
 23  stdFlightTime        500000 non-null  float64
 24  maxFlightTime        500000 non-null  int64
 25  mouseVelocity        500000 non-null  float64
 26  mouseAcceleration    500000 non-null  float64
 27  movementCurvature    500000 non-null  float64
 28  idleTime             500000 non-null  int64
 29  emailLength          500000 non-null  int64
 30  subjectComplexity    500000 non-null  int64
 31  numRecipients        500000 non-null  int64
 32  attachmentCount      500000 non-null  int64
dtypes: float64(9), int64(14), object(10)
memory usage: 125.9+ MB
None
   userId                 email       sessionId           archetype  \
0       0  user0@unifinance.com  session_456253  meticulous_planner
1       0  user0@unifinance.com  session_387750  meticulous_planner
2       0  user0@unifinance.com  session_693809  meticulous_planner
3       0  user0@unifinance.com  session_273635  meticulous_planner
4       0  user0@unifinance.com  session_333608  meticulous_planner

        activityFlow                   createdAt  label riskLevel  \
0      email_focused  2025-04-23T18:09:51.978501      0       low
1      email_focused  2025-04-25T13:21:51.978501      0       low
2  data_access_heavy  2025-04-27T08:33:51.978501      1      high
3     normal_routine  2025-04-29T03:45:51.978501      0       low
4     normal_routine  2025-04-30T22:57:51.978501      0       low

   anomalyScore deviceFingerprint  ... stdFlightTime maxFlightTime  \
0         0.116           FP_3017  ...   1677.223816          5244
1         0.249           FP_3017  ...   1520.587913          5757
2         0.883           FP_3017  ...   1566.931277          7418
3         0.055           FP_3017  ...   1689.425804          4869
4         0.138           FP_3017  ...   2441.055955         14373

   mouseVelocity  mouseAcceleration  movementCurvature  idleTime  emailLength  \
0         0.1149               0.18               0.27       460          687
1         0.0967               0.16               0.27       535          219
2         0.1288               0.21               0.27       340         1357
3         0.1311               0.27               0.27      3219          282
4         0.1068               0.24               0.27      1629          521

  subjectComplexity  numRecipients  attachmentCount
0                65              5                0
1                45              3                0
2                67              2                0
3                37              6                0
4                73              2                0

[5 rows x 33 columns]
              userId          label   anomalyScore      timeOfDay  \
count  500000.000000  500000.000000  500000.000000  500000.000000
mean     2499.500000       0.052690       0.255637      11.703432
std      1443.377087       0.223414       0.269163       4.565609
min         0.000000       0.000000       0.050000       0.000000
25%      1249.750000       0.000000       0.129000       8.000000
50%      2499.500000       0.000000       0.208000      12.000000
75%      3749.250000       0.000000       0.287000      15.000000
max      4999.000000       1.000000       2.375000      23.000000

           dayOfWeek  loginDuration  failedAttempts  locationConsistency  \
count  500000.000000  500000.000000   500000.000000        500000.000000
mean        3.026982  192955.320788        0.078960            79.371586
std         2.087570   72472.347792        0.489818             9.969941
min         0.000000   60001.000000        0.000000            49.000000
25%         1.000000  137986.500000        0.000000            72.000000
50%         3.000000  194603.000000        0.000000            78.000000
75%         5.000000  235922.000000        0.000000            86.000000
max         6.000000  399998.000000        9.000000           100.000000

                 wpm  typingAccuracy  ...  stdFlightTime  maxFlightTime  \
count  500000.000000   500000.000000  ...  500000.000000   500000.00000
mean       60.265166       86.554594  ...    1483.933916     6814.99976
std        21.717915        8.166280  ...     454.814803     3240.45609
min        20.000000       70.000000  ...      80.267615      282.00000
25%        43.000000       79.700000  ...    1202.381046     4781.00000
50%        57.000000       85.600000  ...    1478.666214     5463.00000
75%        79.000000       95.100000  ...    1709.425821     8152.00000
max       129.000000       99.000000  ...    6190.835609    42617.00000

       mouseVelocity  mouseAcceleration  movementCurvature       idleTime  \
count  500000.000000      500000.000000      500000.000000  500000.000000
mean        0.177083           0.354232           0.288262    1500.705770
std         0.074318           0.158728           0.158187    1503.389572
min         0.050000           0.080000           0.000000       0.000000
25%         0.114900           0.230000           0.170000     433.000000
50%         0.167100           0.330000           0.270000    1041.000000
75%         0.229100           0.460000           0.390000    2077.000000
max         0.350000           0.870000           0.880000   21555.000000

         emailLength  subjectComplexity  numRecipients  attachmentCount
count  500000.000000      500000.000000  500000.000000    500000.000000
mean      500.257786          48.957004       4.002842         0.012050
std       529.401280          21.337383       1.735316         0.155296
min        50.000000           0.000000       1.000000         0.000000
25%       218.000000          34.000000       3.000000         0.000000
50%       331.000000          49.000000       4.000000         0.000000
75%       475.000000          65.000000       5.000000         0.000000
max      2499.000000         100.000000      15.000000         6.000000

[8 rows x 23 columns]